extends layout

block content

  div(class="parent-container")
    hr
    br
    section(class="halved-container")
      div(class="left")
        img(src="/images/me1.png" style="width:100%")
      div(class="right")
        article
          h1 My name is Jonathan Nieblas and I love to code.
          p
            | Thanks for checking out my site! I've compiled a collection
            | of different projects, interests, and skills that I think
            | best represent me. Please, feel free to take a look around.
            | If you have any questions or would just like to
            | chat, shoot me an email or connect with me on LinkedIn!
    br
    hr
    br

    div(class="interests")
      h1 Tech I've been fascinated with lately:
      div(class="tech-items")
        a(href="#", target="blank", class="fab fa-docker")
        a(href="#", target="blank", class="fab fa-jenkins")
        a(href="#", target="blank", class="fab fa-aws")
        a(href="#", target="blank", class="fab fa-python")
        a(href="#", target="blank", class="fab fa-js-square")
        a(href="#", target="blank", class="fab fa-java")
        a(href="#", target="blank", class="fab fa-linux")
