extends layout
block content
  <link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css'
  | rel='stylesheet'>
  div(id="parent-container")
    p(id="intro") Hello! My name is Jonathan Nieblas. I am a Computer Science graduate living in Denver, CO.
    hr
    br
    section(class="halved-container")
      div(class="left")
        img(src="/images/me1.png" style="width:100%")
      div(class="right")
        p
          | I want to bring my skills, as well as my uniqueness, to a team that
          | desires a SWE willing to learn and explore the technologies they need. Outside of designing
          | and coding software, I love to play guitar, go on hikes, and visit
          | local breweries with my pals! If you'd like to get in touch, please,
          | don't hesitate to reach out via LinkedIn, GitHub, or email.
    br
    hr
    br

    div(class="tab-menu")
      h1 Tech I'm currently fascinated with:
      div(class="items tech-container")
        button(class="fab fa-docker tablink tech", onclick="openTab('docker', this)")
        button(class="fab fa-jenkins tablink tech", onclick="openTab('jenkins', this)")
        button(class="fab fa-aws tablink tech", onclick="openTab('aws', this)")
        button(class="fab fa-python tablink tech", onclick="openTab('python', this)")
        button(class="devicons devicons-rust tablink tech", onclick="openTab('rust', this)")
        button(class="fab fa-node-js tablink tech", onclick="openTab('node', this)")

        div(id="docker", class="content tech-item")
          p
            | #[a(href='https://www.docker.com/', target='blank') Docker]
            | is such a versatile tool. Being able to isolate services,
            | while making them platform independent has made it hard not
            | to incorporate Docker into all of my projects. Also,
            | the amount of images to experiment with on DockerHub is incredible!
        div(id="jenkins", class="content tech-item")
          p
            | #[a(href='https://www.jenkins.io', target='blank') Jenkins]
            | is a technology that I've made a priority to learn.
            | Continuous integration is an import concept for any project,
            | especially those that are growing rapidly; there's no doubt that understanding
            | CI tools will be a valuable asset for any developer.
        div(id="aws", class="content tech-item")
          p
            | #[a(href='https://aws.amazon.com/', target='blank') AWS]
            | has always been one of those technologies that I wish I
            | could build with more, as I haven't had many opportunities to thus far.
            | I plan on getting a Raspberry Pi or two and diving deep into some
            | of the different services AWS has to offer.
        div(id="python", class="content tech-item")
          p
            | #[a(href='https://www.python.org/', target='blank') Python]
            | has to be one of the most enjoyable programming languages out there.
            | Whenever I want to build a one day project, Python is my go to.
            | Its simplicity and well-written documentation give Python an
            | efficiency that is hard to contend with.
        div(id="rust", class="content tech-item")
          p
            | #[a(href='https://www.rust-lang.org/', target='blank') Rust]
            | caught my eye after hearing about how memory safe it is. C
            | and C++ have aged very poorly, as the absence of safety features
            | have caused code bases built from these languages to be dangerous
            | and unreliable. Rust seems like a decent solution if it can
            | gain enough traction.
        div(id="node", class="content tech-item")
          p
            | #[a(href='https://nodejs.org/en/', target='blank') Node.js]
            | is an enigma: is it a framework, a run-time environment,
            | a language, or all of the above? None can really say, although one
            | of my #[a(href='https://softwareengineering.stackexchange.com/questions/299152/is-node-js-a-framework', target='blank') favorite discussions]
            | on it helps to break down how one might go about classifying Node.
            | Note: This site was created using Node & Express &#x1F601;

  script(src="/javascripts/openTab.js")
