doctype html
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
html
  head
    title= title
    script(src="/jquery/jquery.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul(id="navbar-tabs")
      li
        a(id="home", href="/") Home
      li
        a(id="projects", href="/projects") Projects
      li
        div(class="slide_button")
          a(id="social", href="#") Social
          div
            a(href="https://www.github.com/jonnieblas", target="_blank",
             class="fa fa-github")
            a(href="https://www.linkedin.com/in/jonathan-nieblas-aa8909174/",
              target="_blank", class="fa fa-linkedin")
    script(src="/javascripts/AddActive.js")
    block content
