/* Color variables */
/* Site Theme Colors*/
/* Navbar Colors */
/* Company brand primary colors */
/* Layout Content */
body {
  background-color: #d9d9d9;
  text-align: center;
  font: 14px "Helvetica";
  color: #211f1f; }

ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: #d9d9d9;
  overflow: hidden; }

li a {
  font: Cambria;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #211f1f;
  overflow: hidden; }

#home:hover {
  background-color: DodgerBlue;
  color: beige; }

#projects:hover {
  background-color: #c80000;
  color: beige; }

li a#social:hover {
  background-color: #eba407;
  color: beige;
  overflow: hidden; }

.active {
  background: #a8a8a8; }

.slide_button #social {
  overflow: hidden;
  cursor: pointer;
  float: left;
  background-color: #d9d9d9;
  color: #211f1f;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: none; }

.slide_button .socialLinks {
  display: none;
  position: relative;
  background-color: #d9d9d9;
  color: #211f1f;
  overflow: hidden; }

.slide_button:hover .socialLinks {
  background-color: #d9d9d9;
  display: inline; }

.fab {
  font-size: 1.4em;
  padding: 14px 16px;
  float: left;
  transition-timing-function: ease-out;
  color: #211f1f; }
  .fab:hover {
    color: beige; }

#resume {
  float: right; }
  #resume:hover {
    background-color: #028a28;
    color: white; }

/* Home Block Content*/
.parent-container {
  padding-top: 150px;
  border: none;
  max-width: 720px;
  margin: auto;
  display: block;
  background-color: #d9d9d9; }
  .parent-container hr {
    width: 720px;
    color: #211f1f; }
  .parent-container .halved-container {
    display: flex;
    margin: auto;
    overflow: hidden;
    max-width: 720px; }
    .parent-container .halved-container .left {
      flex: 1; }
      .parent-container .halved-container .left img {
        -webkit-filter: grayscale(1); }
        .parent-container .halved-container .left img:hover {
          -webkit-filter: grayscale(0); }
    .parent-container .halved-container .right {
      flex: 1;
      padding: 1rem;
      font-size: 20px;
      margin: auto; }

.interests {
  display: block;
  position: relative;
  margin: auto; }
  .interests .tech-items {
    display: inline-block;
    position: relative;
    margin: auto; }
    .interests .tech-items div {
      position: relative;
      display: inline-block; }
      .interests .tech-items div a {
        float: left;
        font-size: 40px;
        text-align: center;
        text-decoration: none;
        outline-style: solid; }
        .interests .tech-items div a:hover {
          color: #211f1f; }

/* Company hover changes */
.fa-github:hover {
  background-color: #211f1f; }

.fa-linkedin:hover {
  background-color: #0077b5; }

.fa-docker:hover {
  background-color: #0db7ed; }

.fa-jenkins:hover {
  background-color: #d33834; }
