body {
  background: #f1f1f1;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  overflow: inherit;
}

li a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: inherit;
}

li a#home:hover {
  background-color: DodgerBlue;
  color: beige;
}

li a#projects:hover {
  background-color: rgb(200,0,0);
  color: beige;
}

li a#projects:hover {
  background-color: rgb(200,0,0);
  color: beige;
}

li a#social:hover {
  background-color: rgb(235,164,7);
  color: beige;
}

.active {
  background-color: #a8a8a8;
  color: black;
}

.slide_button {
  overflow: hidden;
  border: none;
}

.slide_button a {
  overflow: hidden;
  cursor: pointer;
  float: left;
  background-color: #d9d9d9;
  color: black;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: none;
}

.slide_button div{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
}

.slide_button:hover div {
  background-color: #f1f1f1;
  display: inline-block;
}

.fa {
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-github:hover {
  background-color: rgba(33, 31, 31) ;
  color: white;
}

.fa-linkedin:hover{
  background-color: DodgerBlue;
  color: white;
}

.fa-github {
  color: rgba(33, 31, 31);
}

.fa-linkedin {
  color: DodgerBlue;
}
