/* Site Theme Colors*/
/* Layout Content */
html {
  width: 95%;
  margin: auto; }

body {
  height: 100%;
  width: 100%;
  background-color: #dfe1e5;
  color: #161d26;
  text-align: center;
  font: 14px "Yu Gothic";
  -webkit-font-smoothing: antialiased;
  /* Home Block Content*/ }
  body #menu {
    display: none;
    position: relative;
    padding-top: 10px;
    padding-left: 10px; }
    body #menu .bar1, body #menu .bar2, body #menu .bar3 {
      width: 30px;
      height: 5px;
      margin: 6px 0;
      background-color: #161d26; }
    @media only screen and (max-width: 415px) {
      body #menu {
        display: block;
        cursor: pointer; } }
  body ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #dfe1e5; }
    @media only screen and (max-width: 415px) {
      body ul {
        background-color: transparent;
        display: none;
        position: relative;
        padding-left: 10px; } }
    body ul .nav-item a {
      float: left;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      color: #161d26;
      background-color: #dfe1e5;
      overflow: hidden; }
      body ul .nav-item a:hover {
        background-color: #c13804;
        color: #dfe1e5; }
      @media only screen and (max-width: 415px) {
        body ul .nav-item a {
          width: 100%;
          text-align: left;
          font-size: 14px; } }
    body ul .nav-item #connect-container #connect-items {
      font-size: 1.4em;
      display: none;
      position: relative;
      float: left;
      background-color: #dfe1e5;
      color: #161d26;
      overflow: hidden; }
      body ul .nav-item #connect-container #connect-items .item {
        font-size: 1.4em;
        padding: 14px 16px;
        float: left;
        color: #161d26; }
      body ul .nav-item #connect-container #connect-items a:hover {
        color: #dfe1e5;
        background-color: #c13804; }
    body ul .nav-item #connect-container:hover #connect-items {
      background-color: #dfe1e5;
      display: inline; }
      @media only screen and (max-width: 415px) {
        body ul .nav-item #connect-container:hover #connect-items {
          width: 100%; } }
    body ul .nav-item #resume {
      float: right; }
      body ul .nav-item #resume:hover {
        background-color: #c13804;
        color: white; }
      @media only screen and (max-width: 415px) {
        body ul .nav-item #resume {
          float: none; } }
  body .parent-container {
    padding-top: 80px;
    border: none;
    width: 720px;
    margin: auto;
    display: none;
    background-color: #dfe1e5;
    overflow: hidden; }
    @media only screen and (max-width: 750px) {
      body .parent-container {
        width: 100%;
        margin: auto; } }
  @media only screen and (max-width: 750px) and (max-width: 415px) {
    body .parent-container {
      padding-top: 30px; } }
    body .parent-container .intro {
      font-weight: bold;
      font-size: 30px; }
      @media only screen and (max-width: 415px) {
        body .parent-container .intro {
          font-size: 20px; } }
    body .parent-container hr {
      width: 720px;
      color: #161d26;
      margin: auto; }
      @media only screen and (max-width: 415px) {
        body .parent-container hr {
          width: 100%; } }
    body .parent-container .halved-container {
      display: flex;
      margin: auto;
      overflow: hidden;
      width: 720px; }
      @media only screen and (max-width: 750px) {
        body .parent-container .halved-container {
          width: 100%; } }
  @media only screen and (max-width: 750px) and (max-width: 415px) {
    body .parent-container .halved-container {
      display: block; } }
      body .parent-container .halved-container .left {
        flex: 1;
        display: block;
        margin: auto; }
        body .parent-container .halved-container .left img {
          -webkit-filter: saturate(1.3); }
        @media only screen and (max-width: 750px) {
          body .parent-container .halved-container .left {
            padding-left: 15px; } }
  @media only screen and (max-width: 750px) and (max-width: 415px) {
    body .parent-container .halved-container .left {
      padding-left: 0;
      width: 80%; } }
      body .parent-container .halved-container .right {
        flex: 1;
        margin: auto;
        font-size: 20px;
        text-align: center;
        padding-left: 15px; }
        @media (max-width: 750px) {
          body .parent-container .halved-container .right {
            padding-right: 15px; } }
  @media (max-width: 750px) and (max-width: 415px) {
    body .parent-container .halved-container .right {
      padding-right: 0;
      padding-left: 0; } }
    body .parent-container .tab-menu {
      display: block;
      position: relative;
      margin: auto;
      text-align: center; }
      @media only screen and (max-width: 415px) {
        body .parent-container .tab-menu .h1 {
          font-size: 20px; } }
      @media only screen and (max-width: 415px) {
        body .parent-container .tab-menu .tech-container {
          width: 346px; } }
      body .parent-container .tab-menu .items {
        display: inline-block;
        position: relative;
        margin: auto;
        border-style: solid;
        border-color: #161d26;
        background-color: #161d26;
        /* Open tab button styles */ }
        body .parent-container .tab-menu .items .tablink {
          color: #161d26;
          background-color: #dfe1e5;
          cursor: pointer;
          position: relative;
          display: inline-block;
          border: none;
          float: left;
          padding: 14px 16px;
          text-align: center;
          text-decoration: none; }
          body .parent-container .tab-menu .items .tablink:hover {
            color: #dfe1e5;
            background-color: #c13804; }
        body .parent-container .tab-menu .items .open {
          background-color: #161d26;
          color: #dfe1e5; }

@font-face {
  body .parent-container .tab-menu .items {
    font-family: 'devicons';
    src: url("../fonts/devicons.eot?xqxft6");
    src: url("../fonts/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons.svg?xqxft6#devicons") format("svg");
    font-weight: normal;
    font-style: normal; } }
        body .parent-container .tab-menu .items .tech {
          font-size: 40px; }
          @media only screen and (max-width: 600px) {
            body .parent-container .tab-menu .items .tech {
              font-size: 30px; } }
  @media only screen and (max-width: 600px) and (max-width: 415px) {
    body .parent-container .tab-menu .items .tech {
      font-size: 25px; } }
        body .parent-container .tab-menu .items .projects {
          font-size: 30px; }
          @media only screen and (max-width: 615px) {
            body .parent-container .tab-menu .items .projects {
              font-size: 20px; } }
  @media only screen and (max-width: 615px) and (max-width: 450px) {
    body .parent-container .tab-menu .items .projects {
      font-size: 15px; } }
  @media only screen and (max-width: 615px) and (max-width: 450px) and (max-width: 415px) {
    body .parent-container .tab-menu .items .projects {
      font-size: 13px; } }
        body .parent-container .tab-menu .items .devicons {
          font-size: 60px;
          padding: 4px 8px; }
          @media only screen and (max-width: 600px) {
            body .parent-container .tab-menu .items .devicons {
              font-size: 50px; } }
  @media only screen and (max-width: 600px) and (max-width: 415px) {
    body .parent-container .tab-menu .items .devicons {
      font-size: 45px; } }
        body .parent-container .tab-menu .items .content {
          display: none;
          text-align: center;
          background-color: #161d26;
          color: #dfe1e5;
          margin: auto;
          font-size: 18px; }
          body .parent-container .tab-menu .items .content a {
            color: #8ea6b9;
            text-decoration: underline; }
          body .parent-container .tab-menu .items .content p {
            text-align: center; }
        body .parent-container .tab-menu .items #hpotter {
          display: block; }
        body .parent-container .tab-menu .items .tech-item {
          padding: 50px;
          padding-bottom: 5px;
          width: 337px; }
          body .parent-container .tab-menu .items .tech-item p {
            padding-top: 25px; }
          @media only screen and (max-width: 600px) {
            body .parent-container .tab-menu .items .tech-item {
              width: 276px; } }
  @media only screen and (max-width: 600px) and (max-width: 415px) {
    body .parent-container .tab-menu .items .tech-item {
      width: 248px; } }
        body .parent-container .tab-menu .items .proj-item {
          width: 565px;
          padding: 20px; }
          @media only screen and (max-width: 615px) {
            body .parent-container .tab-menu .items .proj-item {
              width: 407px; } }
  @media only screen and (max-width: 615px) and (max-width: 450px) {
    body .parent-container .tab-menu .items .proj-item {
      width: 327px; } }
  @media only screen and (max-width: 615px) and (max-width: 450px) and (max-width: 415px) {
    body .parent-container .tab-menu .items .proj-item {
      width: 295px; } }
        body .parent-container .tab-menu .items .open {
          color: #dfe1e5;
          background-color: #161d26; }
  body #index-container {
    display: block; }

/* Loader courtesy of https://loading.io/css/ */
#lds-grid {
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 64px;
  height: 64px; }
  #lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #161d26;
    animation: lds-grid 1.2s linear infinite; }
  #lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s; }
  #lds-grid div:nth-child(2) {
    background: #c13804;
    top: 6px;
    left: 26px;
    animation-delay: -0.4s; }
  #lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s; }
  #lds-grid div:nth-child(4) {
    background: #c13804;
    top: 26px;
    left: 6px;
    animation-delay: -0.4s; }
  #lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s; }
  #lds-grid div:nth-child(6) {
    background: #c13804;
    top: 26px;
    left: 45px;
    animation-delay: -1.2s; }
  #lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s; }
  #lds-grid div:nth-child(8) {
    background: #c13804;
    top: 45px;
    left: 26px;
    animation-delay: -1.2s; }
  #lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s; }

@keyframes lds-grid {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }
