$body-background: #f1f1f1;
$navbar-color: #d9d9d9;
$active-color: #a8a8a8;
$home-hover: DodgerBlue;
$projects-hover: #c80000;
$social-hover: #eba407;
$resume-hover: #028a28;
$github-black: #211f1f;

/* Layout Content */

body {
  background: $body-background;
  padding: 50px;
  font: 14px "Helvetica";
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $navbar-color;
  overflow: hidden;
}

li a {
  font: Cambria;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: $github-black;
  overflow: hidden;
}

#home:hover {
  background-color: $home-hover;
  color: beige;
}

#projects:hover {
  background-color: $projects-hover;
  color: beige;
}

li a#social:hover {
  background-color: $social-hover;
  color: beige;
  overflow: hidden;
}

.active { background: $active-color; }

.slide_button {
  #social {
    overflow: hidden;
    cursor: pointer;
    float: left;
    background-color: $navbar-color;
    color: $github-black;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border: none;
  }

  .socialLinks {
    display: none;
    position: relative;
    background-color: $navbar-color;
    color: $github-black;
    overflow: hidden;
  }

  &:hover .socialLinks {
    background-color: $navbar-color;
    display: inline;
  }
}

.fa {
  font-size: 1.4em;
  padding: 14px 16px;
  float: left;
  transition-timing-function: ease-out;
  color: $github-black;

  &:hover {
    background-color: $github-black;
    color: beige;
  }
}

#resume {
  float: right;

  &:hover {
    background-color: $resume-hover;
    color: white;
  }
}

/* Home Block Content*/

#intro {
  color: $github-black;
  font-size: 20px;
  text-align: center;
}

* { box-sizing: border-box }

.home-container {
  padding-top: 60px;
  max-width: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: -1;

  img {
    margin-top: -55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
}
