/* Site Theme Colors*/
$primary-color: #dfe1e5;
$secondary-color: #161d26;
$tertiary-color: #c13804;
$link-color: #8ea6b9;

/* Layout Content */
body {
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  font: 14px "Yu Gothic";

  ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    background-color: $primary-color;
    overflow: hidden;

    li {
      a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        color: $secondary-color;
        overflow: hidden;

        &:hover {
          background-color: $tertiary-color;
          color: $primary-color;
        }
      }

      .active {
        color: $primary-color;
        background-color: $secondary-color;
      }

      #connect-container {
        #connect-items {
          font-size: 1.4em;
          display: none;
          position: relative;
          float: left;
          background-color: $primary-color;
          color: $secondary-color;
          overflow: hidden;

          .item {
            font-size: 1.4em;
            padding: 14px 16px;
            float: left;
            color: $secondary-color;
          }

          a:hover {
            color: $primary-color;
            background-color: $tertiary-color;
          }
        }

        &:hover #connect-items {
          transition: ease-out;
          background-color: $primary-color;
          display: inline;
        }
      }

      #resume {
        float: right;

        &:hover {
          background-color: $tertiary-color;
          color: white;
        }
      }
    }
  }

  /* Home Block Content*/
  #parent-container {
    padding-top: 100px;
    border: none;
    max-width: 720px;
    margin: auto;
    display: block;
    background-color: $primary-color;

    hr {
      width: 720px;
      color: $secondary-color;
    }

    .halved-container {
      display: flex;
      margin: auto;
      overflow: hidden;
      max-width: 720px;

      .left {
        flex: 1;
        img {
          -webkit-filter: saturate(1.3);
        }
      }

      .right {
        flex: 1;
        padding-left: 20px;
        font-size: 19px;

      }
    }

    .tab-menu {
      display: block;
      position: relative;
      margin: auto;

      .items {
        display: inline-block;
        position: relative;
        margin: auto;
        border-style: solid;
        border-color: $secondary-color;

        .tablink {
          color: $secondary-color;
          background-color: $primary-color;
          cursor: pointer;
          position: relative;
          display: inline-block;
          border: none;
          float: left;
          padding: 14px 16px;
          text-align: center;
          text-decoration: none;

          &:hover{
            color: $primary-color;
            background-color: $tertiary-color; }
        }

        @font-face {
          font-family:'devicons';
          src:url('../fonts/devicons.eot?xqxft6');
          src:url('../fonts/devicons.eot?#iefixxqxft6') format('embedded-opentype'), url('../fonts/devicons.woff?xqxft6') format('woff'), url('../fonts/devicons.ttf?xqxft6') format('truetype'), url('../fonts/devicons.svg?xqxft6#devicons') format('svg');
          font-weight: normal;
          font-style: normal;
        }
        .tech { font-size: 40px; }
        .projects { font-size: 30px; }
        .devicons{
          font-size: 60px;
          padding: 4px 8px;
         }

        .content {
          display: none;
          text-align: center;
          background-color: $secondary-color;
          color: $primary-color;

          a {
            color: $link-color;
            text-decoration: underline;
          }
        }

        .tech-item {
          padding: 50px;
          padding-bottom: 5px;
          p {
            padding-top: 25px;
            max-width: 335px;
          }
        }

        .proj-item {
          padding: 30px;
          max-width: 545px;
        }

        /* Open tab button styles */
        .open {
          color: $primary-color;
          background-color: $secondary-color;
        }
      }
    }
  }
}
